/* CSS declarations go here */
.navbardiv {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h4{
	border-bottom: 2px solid #333;
}

.topnavbar {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    text-align: center;
    background-color: white;
}