.chatroom .message-box {
  margin: 5px;
}
.chatroom .message-box.mine {
  text-align: right;
}
.chatroom .message-box .message {
  width: 70%;
  color: #1F2D3D;
  background: #EAEAEA;
  display: inline-block;
  padding: 5px;
}
.chatroom .message-box.mine .message {
  /*background: #E1F4CB;*/
  background: #BACBA9;
}
.chatroom .send-message-input {
  width: 100%;
}